.botao {
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(167, 11, 146);
}
main{
    margin-bottom: 600px;
}
footer{
        background: #333;
        color: white;
        text-align: center;
        padding: 20px;
    
}
#CABECALHO {
    background-color: pink;
}
nav{
    background-color: aquamarine;
}
